@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

     font-family: quentin;
    
     src: url(../public/font/Quentin.woff2);
    
    }

@font-face {

    font-family: montserat-m;

    src: url(..public/font/Montserrat-Medium.woff2)

}

@font-face {

    font-family: montserat-l;

    src: url(..public/font/Montserrat-Light.woff2)
    
}

@font-face {

    font-family: montserat-r;

    src: url(..public/font/Montserrat-Regular.woff2)
    
}